html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Amatic SC";
  src: url("./AmaticSC.ttf");
}

* {
  font-family: "Amatic SC", cursive;
  background-color: #faf9f6;
  color: #333;
}

body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 2rem;
  padding: 0 2rem;
}

.puck-img {
  max-width: 300px;
  width: 70%;
}

.finger-goal-img {
  max-width: 300px;
  width: 70%;
}

.pretend-link,
a {
  color: #333;
  text-decoration: none;
  border-bottom: 2px solid #333;
  padding-bottom: 3px;
}

.pretend-link:hover,
a:hover {
  font-weight: bold;
}

.get-a-puck {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.get-a-puck p {
  margin: 0;
}

nav {
  display: flex;
  gap: 3rem;
}